# Node
node_modules/
.next/
.env
.env.*
!.env.docker
npm-debug.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.sqlite3

# Docker
*.log
*.pid
*.sock

# OS files
.DS_Store
Thumbs.db

# Testing
coverage/
.jest/
.vscode/
*.coverage

# Build output
dist/
build/

# System files
.idea/
*.swp
*.swo

# Misc
*.bak
*.tmp
